
body{
    background: url("../images/Background-cover2.jpg") center fixed;
    background-size:cover;
    font-family: 'Slabo 27px', serif;    
}


.center{
    text-align: center;
    padding: 14%;
}

h1,p{
    color: white;
}